<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Please select the latest file named <b>dbddiv.csv</b></h4>
                <h5>Today's file will be in yesterday folder named pcubedata</h5>
                <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                    <span class="btn btn-rose btn-round btn-file">
                    <span class="fileinput-new">Select CSV File</span>
                    <span class="fileinput-exists">Change</span>
                    <input type="file" name="..." />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>