<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Insurance</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>Vehicle</li>
                                <li>Term</li>
                                <li>Health</li>
                                <li>Property</li>
                                <li>Other</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Accounts & Cards</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>Credit Card</li>
                                <li>Gift Card</li>
                                <li>Loyalty Card</li>
                                <li>Health Card</li>
                                <li>Wallet</li>
                                <li>Account</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Investments</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>Fixed Income Assets</li>
                                <li>Mutual Fund SIP</li>
                                <li>Mutual Funds</li>
                                <li>Listed Stocks</li>
                                <li>Unlisted Stocks</li>
                                <li>Real Estate</li>
                                <li>Jewellery</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Liabilities</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>Home</li>
                                <li>Car</li>
                                <li>Education</li>
                                <li>Security</li>
                                <li>Personal</li>
                                <li>Other</li>
                                <li>Loan Against Property</li>
                                <li>Under Construction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Fixed Income Assets</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>PPF</li>
                                <li>PF</li>
                                <li>Money Back Policy</li>
                                <li>Bond</li>
                                <li>FD</li>
                                <li>RD</li>
                                <li>Other</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-pricing card-raised">
                    <div class="card-content">
                        <h3 class="card-title">Real Estate</h3>
                        <h4 class="card-title">Sub Categories</h4>
                        <div class="card-description">
                            <ul>
                                <li>Self Occupied</li>
                                <li>Rent Generating</li>
                                <li>Under Construction</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>