<div class="wrapper wrapper-full-page">
    <nav class="navbar navbar-primary navbar-transparent navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="/assets/img/logo_text.svg" alt="Mowize Logo" class="navbar-brand">
            </div>

        </div>
    </nav>
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="heading"><b>Page Not Found</b></h1>
                        <h3 class="heading">The page you are looking for does not exist. </h3>
                        <button class="btn btn-warning" routerLink="">Go to Home</button>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    P Cube Mobility Private Limited &copy; {{copyrightDate | date: 'yyyy'}}
                </p>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
    </div>
</div>