<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <img src="/assets/img/insurance.svg" class="image_size" />
                    </div>
                    <div class="card-content">
                        <p class="category">Total Insurances</p>
                        <h3 class="title">Rs 34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total count : 39
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <img src="/assets/img/investment.svg" class="image_size" />
                    </div>
                    <div class="card-content">
                        <p class="category">Total Investments</p>
                        <h3 class="title">Rs 34,245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total count : 39
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <img src="/assets/img/account.svg" class="image_size" />
                    </div>
                    <div class="card-content">
                        <p class="category">Total Accounts</p>
                        <h3 class="title">Rs 4,500</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total count : 39
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <img src="/assets/img/liabilities.svg" class="image_size" />
                    </div>
                    <div class="card-content">
                        <p class="category">Total Liabilities</p>
                        <h3 class="title">Rs 450</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total count : 39
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-chart" data-background-color="blue" data-header-animation="true">
                        <div class="ct-chart" id="activeUsers"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-info btn-simple" matTooltip="Refresh" [matTooltipPosition]="'below'">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>
                        <h4 class="title">Users Analysis</h4>
                        <p class="category">Active Users: <b>2350</b></p>
                        <p class="category">Dropped Users: <b>50</b></p>
                        <p class="category">Inactive Users: <b>50</b></p>
                        <p class="category">Half Active Users: <b>70</b></p>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card card-chart">
                    <div class="card-header card-chart" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="platformWiseChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-info btn-simple" matTooltip="Refresh" [matTooltipPosition]="'below'">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>
                        <h4 class="title">Users Platform-wise</h4>
                        <p class="category">Android Users: <b>2350</b></p>
                        <p class="category">iOS Users: <b>50</b></p>
                        <p class="category">Web Users: <b>3</b></p>
                        <p class="category">Others: <b>70</b></p>
                    </div>

                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="red">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs" style="background:none;">
                                    <li class="active">
                                        <a href="#insurances" data-toggle="tab">
                                            <img src="/assets/img/insurance.svg" class="small-image"> Insurances
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#investments" data-toggle="tab">
                                            <img src="/assets/img/investment.svg" class="small-image"> Investments
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#accounts" data-toggle="tab">
                                            <img src="/assets/img/account.svg" class="small-image"> Accounts
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#loans" data-toggle="tab">
                                            <img src="/assets/img/liabilities.svg" class="small-image">Liabilities
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="insurances">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Records</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Vehicle</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Term</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Health</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Property</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Others</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="investments">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Records</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Real Estate</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Fixed Income Assets</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Listed Stocks</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Unlisted Stocks</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Mutual Funds</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="accounts">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Records</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Credit Card</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Gift Card</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Loyalty Card</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Wallet</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Accounts</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Health Card</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="loans">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>Name</th>
                                            <th>Total Records</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Car Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Home Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Personal Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Education Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Other Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                        <tr>
                                            <td>Under Construction Loan</td>
                                            <td>39</td>
                                            <td>1,37,25,911</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="orange">
                        <h4 class="title">Channel Partners</h4>
                        <p class="category">All Channel Partner with their codes</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>AgentId</th>
                                    <th>Name</th>
                                    <th>Contact No</th>
                                    <th>Earning</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>MOWIZE247</td>
                                    <td>Aniket Kumar</td>
                                    <td>9711889649</td>
                                    <td>1000</td>
                                </tr>
                                <tr>
                                    <td>MOWIZE245</td>
                                    <td>Gaurav Sharma</td>
                                    <td>9873661122</td>
                                    <td>850</td>
                                </tr>
                                <tr>
                                    <td>MOWIZE22</td>
                                    <td>Gaurav Arora</td>
                                    <td>8826887857</td>
                                    <td>12040</td>
                                </tr>
                                <tr>
                                    <td>URBANDART</td>
                                    <td>UrbanDart Internet Solutions Private Limited</td>
                                    <td>9618274447</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>GETMOWIZE</td>
                                    <td>Mowize</td>
                                    <td>9999046546</td>
                                    <td>57600</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>